details {
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    /*font-weight: bold;*/
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #007bff;
    /*margin-bottom: .5em;*/
}

.search-input {
    font-size: calc(1rem + 5px)!important;
}

.content{
    margin-top: 50px;
}
.red{
    color: #ff0000;
}
.form-control-feedback{
    right: 10px;
}
input.error {
    border: 1px solid #ff0000;
}
label.error {
    color: #ff0000;
    font-weight: normal;
}
.city-select{
    display: none;
}
#slider-range{
    margin-top: 15px;
}